deb_tools/build
deb_tools/build-cache
deb_tools/deb-src
deb_minimal/build
deb_minimal/build-cache
deb_minimal/deb-src
mac_tools/build
mac_tools/build-cache
mac_tools/CovScript.app
misc/cert
.DS_Store
*.dmg
.vscode/
build-tools/test/gen
build/
build-cache/
cspkg-repo/
temp.wxs
*.wixobj
*.msi