import csbuild
function csbuild_main(config, args)
    config.name = "csbuild_test"
    config.author = "kiva"
    config.version = "1.0"
    config.version_num = 1

    @begin
    config
        .target("csbuild_test_1", {"1.cpp"})
        .link("dl")
    @end

    @begin
    config
        .target("csbuild_test_2", {"2.cpp"})
        .link("m")
        .link("pthread")
    @end
end