import csbuild

function csbuild_main(config)
    config.name = "csbuild_test"
    config.author = "Kiva"
    config.version = "1.0"
    config.version_code = 1

    @begin
    config.target("test1", {"1.cpp"})
        .link("m")
        .link_unix("pthread")
        .compile_options("-Wall")
        .compile_options_windows("-DFUCK_WIN")
        .compile_options_linux("-DFUCK_LINUX")
        .compile_options_darwin("-DFUCK_APPLE")
        .compile_options_unix("-DFUCK_UNIX")
    @end

    @begin
    config.target("test2", {"2.cpp"})
        .link("m")
        .link_unix("pthread")
        .compile_options("-Wall")
        .compile_options_windows("-DFUCK_WIN")
        .compile_options_linux("-DFUCK_LINUX")
        .compile_options_darwin("-DFUCK_APPLE")
        .compile_options_unix("-DFUCK_UNIX")
    @end
end
