package csbuild_test

import csbuild

class config extends csbuild.config
    function initialize() override
        this.name = "csbuild_test"
        this.author = "Kiva"
        this.version = "1.0"
        this.version_code = 1

        this.target("csbuild_test_1", {"1.cpp"})
        this.link("csbuild_test_1", "dl")

        this.target("csbuild_test_2", {"2.cpp"})
        this.link("csbuild_test_2", "m")
        this.link("csbuild_test_2", "pthread")
    end
end

